@media (min-width: 768px) {
	.header {
		background-image: url('../images/bg-desktop.svg');
		background-size: cover;
	}

	.header__content {
		flex-direction: row;
		align-items: center;
		gap: 24px;
	}

	.header__description {
		align-items: flex-start;

		h2,
		p {
			text-align: left;
		}
	}

	.header__socials {
		justify-content: flex-end;
	}

	.header__social {
		padding: 16px;
	}

	.header__social i {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.header__description {
		h2 {
			font-size: 38px;
		}

		p {
			font-size: 18px;
		}
	}

	.button {
		padding: 16px 76px;
		font-size: 16px;
	}
}

@media (min-width: 1400px) {
	.header__description {
		h2 {
			font-size: 50px;
		}

		p {
			font-size: 22px;
		}
	}
}
